*{
    margin: 0;
}

/* header{
    background-image: url(/assets/image_header.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
} */



.recent-posts{
    width:50%;
    margin: 0 auto;
}

.recent-posts img{
    border-radius: 20%;   
}

.recent-posts p {
    background-color: rgba(20, 10, 10, 0.391);
    border-radius: 20%;
    height:  50%;
}


/* .all-posts h2{
    display: block;
} */

/* .all-posts{
    margin: 100px 0;
} */

.blogpost{
    width: 50%;
    margin: 0 auto;
}

.post-img{
    width: 30%;
    /* float:left; */
    margin-right: 20px;
}