*{
    margin: 0;
}

/* header{
    background-image: url(/assets/image_header.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
} */



.recent-posts{
    width:50%;
    margin: 0 auto;
}

.recent-posts img{
    border-radius: 20%;   
}

.recent-posts p {
    background-color: rgba(20, 10, 10, 0.391);
    border-radius: 20%;
    height:  50%;
}


/* .all-posts h2{
    display: block;
} */

.all-posts{
    margin: 100px auto;
    border: solid 1px hotpink;
    width: 85%;
    text-align: center;

}

.all-posts button{
    padding: 10px 15px;
    border-radius: 15px;
    color: #436B6E;
    background-color: #F5EEE6;
    border: none;
}

.blogpost{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    border: solid 1px yellow;
}

.post-img1{
    width: 30%;
    float:left;
    margin-right: 20px;
}
.post-img2{
    width: 30%;
    float:right;
    margin-left: 20px;
}
.post-img3{
    width: 30%;
    float:left;
    margin-right: 20px;
}


.newsletter{
    background-color: #F5EEE6;
    color: #436B6E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px orange;
}

/* .newsletter-input{
    display: flex;
    flex-direction: column;
} */

/* .enveloppe-icon{
    z-index: 0;

} */

footer{
    background-color: #436b6eae;
    color: white;
}