/*.carousel{*/
/*    width: 800px;*/
/*}*/

.slide-text{
    color: #436B6E;
    /*width: 30%;*/
    /*float: right;*/
    /*display: block;*/
}

.slide-image {
    max-width: 50%;
    max-height: 30%;
    margin-right: 10px;
    border-radius: 20px;
}


.slide-items{
    padding: 7% 15%;
    position: relative;
}

.slide-item{
    border: solid hotpink;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


